# macOS system files
.DS_Store

# Xcode user-specific files
*.xcuserstate
xcuserdata/

# Ignore project.pbxproj to prevent bundle identifier conflicts
TreeTop.xcodeproj/project.pbxproj

# Ignore everything in xcshareddata folders inside the .xcodeproj directory
TreeTop.xcodeproj/xcshareddata/*

# but keep shared  schemes
TreeTop.xcodeproj/xcshareddata/xcschemes
TreeTop.xcodeproj/xcshareddata/xcschemes/*.xcscheme
